# Exclude all .log files
#*.log

# Exclude a specific folder
scripts-tests/

# Exclude a specific file
#config.json

# Exclude all .env files
#*.env

# Exclude .doc files
*.docx

# Exclude .DS_Store files
.DS_Store

# Exclude Visual Studio Code files
*.code-workspace
__pycache__/
.jm_env/
